{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ posts.author }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ posts.title }}</a></h2>
              <form method="POST">
                <input name="text">
                <input type="submit">
              </form>
          </div>
        </article>
{% endblock content %}